[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false

[dev-packages]
flake8 = "*"
pylint = "*"
yapf = "*"
isort = "*"
pylint-django = "*"

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"

[requires]
python_version = "3.5"
