[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false

[dev-packages]
flake8 = "*"
pylint = "*"
yapf = "*"
isort = "*"
pylint-django = "*"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
